body {
    font-family: Arial, sans-serif;
    background: #fafafa;
}

.container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
}

.input-row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-size: 16px;
}

button {
    padding: 15px 25px;
    background: #5CC66A;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eaeaea;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 12px;
}

.remove-btn {
    background: #ff4d4d;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}

.list {

    /*mask-image: linear-gradient(*/
    /*        to bottom,*/
    /*        transparent 0%,*/
    /*        transparent 5%,*/
    /*        black 95%,*/
    /*        transparent 100%*/
    /*);*/

    overflow: auto;
    height: auto;
}

@media (max-width: 490px) {
    .input-row {
        flex-direction: column;
    }
}